<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>change password</title>
    <title>Hot company ORG</title>
    <link rel="icon" href="images/chiliLogo.jpg" type="image/icon">
    <link href="css/Chilli.css" rel="Stylesheet">
</head>
<body>
<main>
    <h1 th:text="${customer.getUserName()}"></h1>
    <form>
        <input type="hidden" id="id" name="id" th:value="${customer.getId()}">
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required th:value="${customer.getEmail()}"><br><br>
        <label for="tell">telefon:</label>
        <input type="text" id="tell" name="tell" required th:value="${customer.getTel()}"><br><br>
        <input type="submit" value="Aktualizovat údaje">

    </form>
    <a th:href="@{/ChangePassword(id=${customer.getId()})}">Změnit heslo</a>
    <img src="images/Chily.png" alt="Chily logo">
</main>
</body>