<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Hot Company Registry</title>
    <link rel="icon" href="images/chiliLogo.jpg" type="image/icon">
    <link href="css/Chilli.css" rel="Stylesheet">
</head>
<body>
<main>
    <h4>Zaregistruj se</h4>
    <div class="container2">
<form method="post">
    <label for="user name">Uživatelské jméno:</label>
    <input type="text" id="user name" name="username" required><br><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" required><br><br>
    <label for="tell">telefon:</label>
    <input type="text" id="tell" name="tell" required><br><br>
    <label for="password">Heslo:</label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="password2">Heslo*:</label>
    <input type="password" id="password2" name="password2" required><br><br>
    <input type="submit" value="Odeslat">
</form>
        <p th:if="${ERROR}" style="color:red;">Uživatel nebyl přidán.<p>
    </div>
    <img src="images/Chily.png">
</main>
</body>